:root {
  --primary-color: #5efc8d;
  --secondary-color: #e6ebff;
}

.accountPage {
  width: 100vw;
  height: 100vh;

  background-color: white;
  color: black;
}

h1 {
  margin-top: 35px;
}

Form {
  margin: 27px 0px 51px 0px;
}

Form input {
  width: 487px;
  height: 76px;
  background-color: var(--secondary-color);
  padding: 23px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 22px;
  border-radius: 4px;
  border: 0px;
}

Form button {
  background-color: var(--primary-color);
  color: rgb(0, 0, 0);
  border-radius: 4px;
  border: 0px;
  width: 108px;
  height: 76px;
  font-size: 32px;
}

Form button:hover {
  background-color: black;
  color: white;
}
