body {
  background-color: black;
  color: white;
}

img {
  height: 165px;
}

button {
  width: 388px;
  height: 98px;
  background-color: #5efc8d;
  border-radius: 4px;
  color: black;
  font-weight: light;
  font-size: 48px;
  margin-top: 149px;
}

button:hover {
  background-color: white;
  transition: background-color 0.5s;
}
